body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg,#000428,#004e92);
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0,0,0,0.5);
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: cyan;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 30px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 250px;
    border-radius: 10px;
}

/* Contact */
.contact-box {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}

.contact-box input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: rgba(0,0,0,0.5);
    margin-top: 20px;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: green;
    padding: 20px;
    border-radius: 10px;
}